@import url('./sections.css');

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 6px 6px;
  border-radius: var(--border-radius);
  font-weight: 600;
  transition: var(--transition);
  border: none;
  cursor: pointer;
}

.btn i {
  font-size: 1rem;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: 0 4px 15px rgba(139, 92, 246, 0.3);
}

.btn-primary:hover {
  background-color: var(--primary-dark);
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(139, 92, 246, 0.4);
}

.btn-secondary {
  background-color: rgb(80, 80, 80);
  color: white;
  border: white;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: var(--white);
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(139, 92, 246, 0.4);
}

.btn-caramel {
  background-color: rgb(50, 50, 50);
  color: var(--white);
}

.btn-caramel:hover {
  background-color: var(--dark-color);
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(28, 18, 7, 0.35);
}

.btn-outline {
  background-color: var(--white);
  color: var(--dark-color);
  border: 2px solid var(--border-color);
}

.btn-outline:hover {
  background-color: #eee;
  color: #333;
  transform: translateY(-3px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.btn-small {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
}

.btn-small i {
  font-size: 0.9rem;
}

.viewdemo {
  background-color: rgb(242, 255, 241);
  width: 100px;
  text-align: center;
  border-radius: 10px;
  color: #126e51;
}

.footer {
  background-color: var(--dark-color);
  color: var(--white);
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 15px;
}

.footer a {
  color: var(--white);
  font-size: 1.2rem;
  transition: var(--transition);
}

.footer a:hover {
  color: var(--primary-light);
  transform: translateY(-3px);
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  z-index: 999;
}

.back-to-top.active {
  opacity: 1;
  visibility: visible;
}

.back-to-top:hover {
  background-color: var(--primary-dark);
  transform: translateY(-5px);
}